/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
} */

strong, em {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    font-style: none;
    font-display: none;
}