@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
/* "Bebas Neue" "Roboto Flex" */

:root {
    /* Fontes */
    --fm: "Roboto Flex";
    --fd: "Bebas Neue";
    
    /* Vermelho (Vinho/Carmesim) */
    /* --scd: #4A0E0E;
    --scm: #B22222;
    --scl: #FADADD; */

    /* Laranja (Terracota/Âmbar) */
    /* --scd: #5E2F00;
    --scm: #D2691E;
    --scl: #FFDEAD; */

    /* Amarelo (Ouro Velho/Mostarda) */
    /* --scd: #4D3D00;
    --scm: #C5A021;
    --scl: #FFF5CC; */

    /* Verde (Floresta/Sálvia) */
    /* --scd: #1A3026;
    --scm: #2E8B57;
    --scl: #D1E8E2; */

    /* Azul (Petróleo/Aço) */
    /* --scd: #0F1C2E;
    --scm: #4682B4;
    --scl: #D1D9E1; */

    /* Roxo (Ametista/Berinjela) */
    /* --scd: #2D142C;
    --scm: #6A5ACD;
    --scl: #E6E6FA; */

    /* Violeta (Lavanda Escura/Ameixa) */
    /* --scd: #301934;
    --scm: #800080;
    --scl: #F3E5F5; */

    /* Preo e Branco */
    /* --scd: #000000;
    --scm: #808080;
    --scl: #FFFFFF; */

    /* Paleta Deep Slate & Gold */
    --scd: #0D1117; 
    --scm: #C5A021; 
    --scl: #E6EDF3; 
}

* {margin: 0; padding: 0; box-sizing: border-box}

body {
    background-color: var(--scm);
    font-family: var(--fm)
}

header {
    background-image: linear-gradient(to top, var(--scl), var(--scm));
    margin: auto;
    text-align: center;
}

header div {
    color: var(--scd);
    text-shadow: 1px 1px 3px var(--scl);
    padding: 20px 0px 5px 0px;
    font-size: 50px;
    font-family: var(--fd);
}

header p {
    font-size: 1em;
    font-weight: 500;
    padding: 0px 0px 30px 0px;
    color: var(--scd);
}

nav {
    background-color: var(--scl);
    box-shadow: 3px 3px 3px var(--scd);
    padding: 0px 0px 0px 0px;
    margin: 0px auto 5px auto;
}

nav ul {
    max-width: 800px;
    margin: auto;
    padding: 10px 0px 5px 0px;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a {
    padding: 7px 20px 5px 20px;
    text-decoration: none;
    background-color: var(--scd);
    color: var(--scl);
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
    font-size: 1em;
}

nav a:hover {
    background-color: var(--scl);
    color: var(--scd);
    text-decoration: underline;
    font-weight: 500;
}

main {
    background-color: var(--scl);
    max-width: 800px;
    padding: 0px 0px 0px 0px;
    text-align: justify;
    margin: auto;
    box-shadow: 3px 3px 3px var(--scd);
}

main h1 {
    /* background-image: linear-gradient(to right, var(--scm), transparent); */ 
    font-family: var(--fd);
    color: var(--scm);
    padding: 30px 20px 20px 20px;
    font-size: 2em;
    text-shadow: 1px 1px 1px var(--scd);
}

main h2 {
    background-image: linear-gradient(to right, var(--scm), transparent);
    font-family: var(--fd);
    color: var(--scd);
    padding: 12px 20px;
    font-size: 1.3em;
    /* text-shadow: 1px 1px 1px var(--scl); */

}

main p {
    padding: 10px 20px;
    line-height: 1.5em;
    color: var(--scd);
}

main strong {
    color: var(--scd);
    font-weight: 500;
}

iframe {
    display: block;      
    margin: 0 auto; 
    max-width: 100%;
    padding: 10px 0px 10px 0px; 
}

aside {
    margin: 10px 10px 0px 10px;
}

aside h3 {
    background-color: var(--scm);
    color: var(--scd);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
}

aside section {
    background-color: var(--scd);
    border-radius: 10px 10px 10px 10px;
}

aside section strong {
    color: var(--scl);
    font-weight: 500;
}

aside section p {
    color: var(--scl);
}

aside section ul {
    list-style-type: none;
    columns: 2;
    padding: 10px 20px
}

aside section ul li abbr {
    color: var(--scl);
    text-decoration: none;
}

aside section p a {
    color: var(--scm);
    text-decoration: undeline;
    font-weight: 700;
}

footer {
    background-color: var(--scd);
    color: var(--scl);
    padding: 20px 0px;
    text-align: center;
}