* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
}

/* p {
    color: red;
    font-size: 32px;
}

h3 {
    color:green;
}

#h31 {
    color: blue;
}

#h32 {
    color: blue;
}

.amarela {
    color: yellow
} */