/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
} */

.heading {
    font-size: 24px;
    font-weight: bold
}